<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>admin home</title>
</head>
<body>
<p>Admin Home</p>
<form action="/song" method="get">
<button>Add Songs</button>
</form>
<br>
<form action="/viewSong" method="get">
<button>View Song</button>
</form>
<br>
<form action="/createplaylists" method="get">
<button>CreatePlayList</button>
</form>
<br>
<form action="/viewPlaylists" methpd="get">
<button>View PlayList</button>
</form>
<form action="/logout">
<button>Logout</button>
</form>
</body>
</html>